body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll !important;
}

.topBlock{
    background-image: url('images/topBg.png'), linear-gradient(180deg, #E00D7F 0%, #8828D2 22%, rgba(219, 247, 241, 0) 50%);
    background-repeat: no-repeat;
    background-position: 104.5% 20%;
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    .topNav{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 95%;
        height: 110px;
        padding: 0 2.5%;
        .logo{
            width: 10%;
            margin-top: 20px;
        }
        .nav{
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 50%;
            align-items: center;
            justify-content: space-around;
            padding-left: 26px;
            a{
                font-size: 90%;
                text-transform: uppercase;
                color:white;
                text-decoration: none;
            }
        }
        .autorization{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 40%;
            align-items: center;
            a{
                color:white;
                text-decoration: none;
            }
            #login{
                margin-top: -6px;
                margin-left: 126px;
                padding: 8px 38px;
                border-radius: 25px;
                font-weight: 600;
                font-size: 90%;
                display: inline-block;
                border: 1px solid white;
                background: transparent;
                text-transform: uppercase;
            }
            #register{
                margin-top: -6px;
                text-transform: uppercase;
                margin-left: 10px;
                background: white;
                color:black;
                padding: 8px 24px;
                border-radius: 25px;
                font-weight: 600;
                font-size: 90%;
                display: inline-block;
                border: 1px solid white;
            }
        }
    }
    
    .sliderSection{
        padding: 3.9% 14.5% 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 71%;
        .leftBlock{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            h1{
                color:white;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 56px;
                width: 81%;
                margin: 0;
                padding: 0;
            }
            span.lowText{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 145.31%;
                color: #FFFFFF;
                margin:10px 0 0 5px;
            }
            a{
                box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
                border-radius: 26px;
                text-decoration: none;
                background: white;
                color:black;
                display: inline-block;
                width: 200px;
                text-transform: uppercase;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #404040;
                letter-spacing: 0;
                width: 255px;
                height: 53px;
                border-radius: 25px;
                margin-top: 42px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                img{
                    width: 10%;
                    margin: 0 0 0 18px;
                }
                span{
                    width: 90%;
                    letter-spacing: 0;
                    font-size: 94%;
                    margin-left: -5px;
                }
            }
            span:nth-child(4){
                width: 35%;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 145.31%;
                color: #6F5886;
                margin-top: 33px;
                margin-left: 4px;
            }
            img{
                margin-top: 52px;
                width: 12%;
                height: 30px;
                margin-left: 4px;
            }
        }
        .rightBlock{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 50%;
            flex-direction: column;
            .topSection{
                margin-left: 24px;
                width: 100%;
                height: 200px;
                background-repeat: no-repeat;
                background-image: url(images/figureTop.png);
                margin-top: 5px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                .header{
                    margin:48px 0 0 34px;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                    .currency{
                        img{
                            margin-right: 10px;
                        }
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        /* identical to box height */
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                    .value{
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        flex-direction: column;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        /* identical to box height */
                        text-transform: uppercase;
                        color: #FFFFFF;
                        position: relative;
                        span:nth-child(2){
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 15px;
                            color: #A7D36E;
                            position: absolute;
                            right: 18px;
                            bottom: -18px;
                        }
                    }
                }
                .footerBlock{
                    margin:16px 0 0 38px;
                    width: 60%;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    flex-direction: column;
                    .description{
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                    }
                    span.lowText{
                        margin-top: 7px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: rgba(214, 214, 214, 0.38);
                    }
                    position: relative;
                    img{
                        max-width: 5%;
                        height: 17px;
                        position: absolute;
                        bottom: 4px;
                        right: -100px;
                    }
                }
            }
            .bottomSection{
                margin-left: 24px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                width: 100%;
                height: 100px;
                margin-top: -6px;
                .leftSection{
                    .currency{
                        margin-left: 20px;
                        margin-top: 10px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        span{
                            margin-left: -6px;
                            margin-top: -14px;
                        }
                    }
                    .value{
                        margin-top: -20px;
                        margin-left: 74px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        span:nth-child(2){
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 15px;
                            color: #A7D36E;
                            margin-left: 25px;
                        }
                    }
                    width: 50%;
                    background-repeat: no-repeat;
                    background-image: url(images/figureLeft.png);
                }
                .rightSection{
                    .currency{
                        margin-top: 14px;
                        margin-left: 18px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 21px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        span{
                            margin-left: 12px;
                        }
                    }
                    .value{
                        margin-left: 58px;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 21px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        align-items: center;
                        span:nth-child(2){
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 15px;
                            color: #A7D36E;
                            margin-left: 25px;
                        }
                    }
                    width: 50%;
                    margin-left: -6px;
                    background-repeat: no-repeat;
                    background-image: url(images/figureRight.png);
                }
            }
        }
        
    }
    z-index: 5;
    .about{
        z-index: 10;
        background: transparent;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        height: 930px;
        background-image: url('images/people.png');
        background-repeat: no-repeat;
        background-position: 48.7% 0%;
        margin-top: -105px;
        padding: 3.9% 14.5% 0;
        .firstBlock{
            .left{
                width: 50%;
            }
            .right{
                width: 50%;
                .title{        
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 126.56%;
                    color: #373737;
                    width: 42.3%;
                    margin-top: 86px;
                    margin-left: 49%;
                    font-weight: 800;
                    letter-spacing: 0px;
                }
                .smallText{
                    margin-left: 49%;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 126.56%;
                    color: #373737;
                    margin-top: 8px;
                }
                ul{
                    margin-top: 7px;
                    list-style-type: none;
                    margin-left: 42.5%;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    
                    li{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
            margin-top: 158px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            .smallText{
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                color: #C60ECA;
            }
            .context{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 35px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                color: #161616;
                margin-top: 10px;
            }
            .description{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 145.31%;
                color: #313131;
                width: 68%;
                margin-top: 24px;
            }
            .content{
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                background: #FFFFFF;
                border: 1px solid rgba(247, 247, 247, 0.81);
                box-sizing: border-box;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.09);
                border-radius: 6px;
                width: 252px;
                height: 75px;
                margin-top: 32px;
                img{
                    margin-top: 14px;
                    margin-left: 18px;
                    height: 58px;
                    width: 60px;
                }
                span{
                    padding: 12px 18px;
                    font-size: 74%;
                }
            }
        }
        .secondBlock{
            min-height: 300px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 100%;
            justify-content: space-between;
            .left{
                width: 33%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                ul{
                    margin-left: -42px;
                    margin-top: 0px;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    flex-direction: column;
                    li{
                        margin-top: 25px;
                        img{
                            background: #FFFFFF;
                            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                            padding: 14px;
                            border-radius: 50%;
                        }
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: -ms-flex;
                        display: -o-flex;
                        display: flex;
                        .text{
                            margin-left: 10px;
                            display: -webkit-flex;
                            display: -moz-flex;
                            display: -ms-flex;
                            display: -o-flex;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            line-height: 17px;
                            a{
                                color:#C60ECA;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            .middle{
                &::before{
                    content: '';
                    width: 320px;
                    height: 320px;
                    background: transparent;
                    z-index: 15;
                    top:50px;
                    right: 70px;
                    position: absolute;
                }
                position: relative;
                z-index: 10;
                background-image: url('images/middleBg.png');
                background-repeat: no-repeat;
                background-size: 70%;
                background-position: 60% 0%;
                width: 50%;
                height: 500px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: -100px;
                .title{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 126.56%;
                    color: #FFFFFF;
                    width: 55%;
                    margin-top: 140px;
                    margin-left: 56px;
                }
                .lowText{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 126.56%;
                    color: rgba(56, 56, 56, 0.36);
                    width: 60%;
                    margin-top: 14px;
                    margin-left: 80px;
                }
                .getAccess{
                    z-index: 30;
                    &:hover{
                        cursor: pointer;
                    }
                    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
                    border-radius: 26px;
                    text-decoration: none;
                    background: white;
                    color:black;
                    display: inline-block;
                    text-transform: uppercase;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    color: #404040;
                    letter-spacing: 0;
                    width: 218px;
                    height: 50px;
                    border-radius: 25px;
                    margin-top: 34px;
                    margin-left: 54px;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .right{
                width: 33%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                .smallText{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 16px;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;
                    color: #C60ECA;
                    margin-top: -22px;
                    margin-left: -5px;
                    letter-spacing: 0;
                }
                .title{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 35px;
                    display: flex;
                    align-items: flex-end;
                    text-align: center;
                    color: #161616;
                    margin-top: 10px;
                    margin-left: -4px;
                }
                .description{
                    margin-top: 22px;
                    
                   
                }
            }
        }
    }
    .howWeWork{
        padding: 3.9% 14.5% 0;
        width: 71%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        .lowText{
            text-transform: uppercase;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: #C60ECA;
            text-align: center;
        }
        .title{
            margin-top: 10px;
            text-align: center;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 35px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: #161616;
        }
        ul{
            margin: 0;
            margin-top: 60px;
            padding: 0;
            width: 90%;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: space-around;
            li{
                text-align: center;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                div{
                    
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
                    padding: 25px;
                    border-radius: 50%;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 54px;
                }
                img{
                    height: 54px;
                    background: #FFFFFF;
                    width: 54px;
                }
                .text{
                    margin-top: 20px;
                }
            }
        }
    }
}

.main{
    transition:1s;
    top:-1000px;
    z-index: 40;
    position: absolute;
    height: 100vh;
    width: 70%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: #020635;
    padding: 0 15%;
    flex-direction: column;
    .title{
        margin-top: 10%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        color: #FFFFFF;
    }
    ul{
        border-bottom:  2px solid #262B55;
        margin: 0;
        padding: 0;
        margin-top: 5%;
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        list-style-type: none;
        justify-content: center;
        .active{
            border-bottom:  2px solid #F4C077;
            span{
                background: #F4C077;
                border-color:#F4C077;
            }
            color: #F4C077;
        }
        li{
            width: 20%;
            align-items: center;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            padding-bottom: 10px;
            justify-content: center;
            span{
                color: #020635;
                border: 1px solid white;
                border-radius: 50%;
                background: white;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 20px;
                font-weight: 600;
                margin-right: 10px;
                
            }
            color:white;
            border-bottom:  2px solid transparent;
        }
    }
    .blockAttr{
        margin-top: 5%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        height: 300px;
        .left{
            .title{
                margin: 30px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
                line-height: 19px;
                color: #FFFFFF;
            }
            input{
                margin: 0 auto;
                width: 90%;
                border:none;
                height: 46px;
                background: #0D113B;
                border-radius: 8px;
            }
            .lowText{
                margin: 14px 0 0 20px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 16px;
                color: #5A5D7B;
            }
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 200px;
            background: #131843;
            box-shadow: 0px 8px 16px rgba(2, 9, 48, 0.32);
            border-radius: 8px;
        }
        .middle{
            
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 30%;
            justify-content: space-around;
            .sum{
                .title{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 19px;
                    color: #FFFFFF;
                    margin: 30px 0 30px 30px;
                }
                input{
                    margin: 0 auto;
                    width: 70%;
                    border:none;
                    height: 46px;
                    background: #0D113B;
                    border-radius: 8px;
                }
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                width: 50%;
            }
            .currency{
                .title{
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 19px;
                    color: #FFFFFF;
                    margin: 30px 0 30px 30px;
                }
                input{
                    margin: 0 auto;
                    width: 70%;
                    border:none;
                    height: 46px;
                    background: #0D113B;
                    border-radius: 8px;
                }
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                flex-direction: column;
                width: 50%;
            }
            height: 200px;
            background: #131843;
            box-shadow: 0px 8px 16px rgba(2, 9, 48, 0.32);
            border-radius: 8px;
        }
        .right{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 200px;
            background: #131843;
            box-shadow: 0px 8px 16px rgba(2, 9, 48, 0.32);
            border-radius: 8px;
            .title{
                margin: 30px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 19px;
                line-height: 19px;
                color: #FFFFFF;
            }
            input{
                margin: 0 auto;
                width: 90%;
                border:none;
                height: 46px;
                background: #0D113B;
                border-radius: 8px;
            }
            .lowText{
                margin: 14px 0 0 20px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 16px;
                color: #5A5D7B;
            }
        }
    }
    .blockText{
        margin-top: 5%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .warningText{
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;
            text-align: center;
            color: #FFFFFF;
        }
        .lowText{
            margin: 12px 0 40px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }
        button{
            text-align: center;
            height: 40px;
            width: 127px;
            border:none;
            border-radius: 25px;
            background-image:  linear-gradient(90.13deg, rgb(6, 251, 213) 0.04%, rgb(4, 199, 254) 99.96%);
            text-transform: uppercase;
            font-size: 90%;
            font-weight: 600;
            &:hover{
                cursor:pointer;
            }
        }
    }
}
